/* FRONTEND MENTOR TEXT CHALLENGE STYLE */
.attribution {
  font-size: var(--12px);
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
/* FRONTEND MENTOR TEXT CHALLENGE STYLE */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
}

html {
  /* # SPACE SYSTEM */
  /* ## TYPOGRAPHY - FONT SIZES */
  --10px: calc(10rem / 16);
  --12px: calc(12rem / 16);
  --14px: calc(14rem / 16);
  --16px: calc(16rem / 16);
  --18px: calc(18rem / 16);
  --20px: calc(20rem / 16);
  --24px: calc(24rem / 16);
  --36px: calc(36rem / 16);
  --44px: calc(44rem / 16);
  --52px: calc(52rem / 16);
  --62px: calc(62rem / 16);
  --74px: calc(74rem / 16);
  --86px: calc(86rem / 16);
  --98px: calc(98rem / 16);

  /* ## WHITESPACE */
  --2ws: calc(2rem / 16);
  --4ws: calc(4rem / 16);
  --8ws: calc(8rem / 16);
  --12ws: calc(12rem / 16);
  --16ws: calc(16rem / 16);
  --24ws: calc(24rem / 16);
  --32ws: calc(32rem / 16);
  --48ws: calc(48rem / 16);
  --64ws: calc(64rem / 16);
  --80ws: calc(80rem / 16);
  --96ws: calc(96rem / 16);
  --128ws: calc(128rem / 16);

  /* # COLORS */
  /* ## Primary */
  --color-pp: hsl(322, 100%, 66%); /* - Pink */
  /* ## Neutral */
  --color-nvpc: hsl(193, 100%, 96%); /* - Very Pale Cyan */
  --color-nvdc: hsl(192, 100%, 9%); /* - Very Dark Cyan */
  --color-ngb: hsl(208, 11%, 55%); /* - Grayish Blue */

  /* # Custom */
  --color-filter-cpp: invert(45%) sepia(64%) saturate(1253%) hue-rotate(294deg)
    brightness(101%) contrast(102%);
  --color-cbs: hsl(209deg 11% 55% / 30%);
}

/* REUSABLE */

.btn {
  width: calc(260rem / 16);
  padding: var(--12ws);
  border-radius: var(--20px);
  font-size: 12px;
  letter-spacing: 1px;
  font-weight: 700;
  background-color: #555;
  color: #fff;
  box-shadow: inset 0px -1px 16px 0px var(--color-cbs);
  margin: 0 auto;

  cursor: pointer;
  transition: opacity 0.5s;
}

.btn:hover {
  opacity: 0.7;
}

/* REUSABLE */

body {
  font-family: "Open Sans", sans-serif;
  /* font-family: "Poppins", sans-serif; */
  font-size: var(--18px);
  line-height: 1;
  font-weight: 400;
  color: var(--color-nvdc);
  background-color: #000;
}

.container {
  --min-width: calc(375rem / 16);
  --max-width: calc(376rem / 16);
  min-width: var(--min-width);
  max-width: var(--max-width);

  background-color: var(--color-nvpc);
  margin: auto;

  display: grid;
  grid-template-columns: 1fr;
}

.main {
  background-image: url(images/bg-hero-mobile.svg);
  background-repeat: no-repeat;
  background-position: 0 -20px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  height: var(--80ws);

  padding: var(--16ws);
}

.logo {
  width: var(--98px);
}

.header-btn:link,
.header-btn:visited {
  text-decoration: none;
  font-weight: 700;
  color: var(--color-nvdc);
  background-color: #fff;
  padding: var(--8ws) var(--24ws);
  border-radius: var(--52px);
  font-size: var(--12px);
  box-shadow: 0px 1px 7px 0px var(--color-cbs);

  transition: color 0.5s;
}

.header-btn:hover,
.header-btn:active {
  color: #888;
}

.hero-section {
  padding: calc(20rem / 16);

  display: flex;
  flex-direction: column;
  gap: var(--24ws);
}

.hero-heading {
  text-align: center;
  line-height: 1.5;
}

.hero-text {
  line-height: 1.5;
  text-align: center;
}

.hero-btn {
  background-color: var(--color-pp);
  margin-bottom: var(--24ws);
}

.hero-img {
  width: 90%;
  margin: 0 auto;
}

.cards {
  background-color: #fff;
  padding: var(--24ws) 0;

  display: flex;
  flex-direction: column;
  gap: var(--32ws);

  padding-bottom: calc(var(--128ws) * 2);
  position: relative;
}

.card {
  width: 90%;
  margin: 0 auto;
  box-shadow: 0 0 var(--24ws) 2px var(--color-cbs);
  border-radius: var(--16ws);

  transition: transform 1s, box-shadow 2s;
}

.card:hover {
  transform: translateY(calc(-1 * var(--10px)));
  box-shadow: 0 var(--10px) var(--24ws) 2px var(--color-cbs);
}

.card-img {
  width: 100%;
  padding: var(--48ws);
}

.card-heading {
  font-size: var(--20px);
  text-align: center;
  margin-bottom: var(--24ws);
}

.card-text {
  font-size: var(--14px);
  text-align: center;
  padding: 0 var(--32ws);
  line-height: 1.5;
  margin-bottom: var(--24ws);

  color: var(--color-ngb);
}

.box {
  position: absolute;
  top: 100%;

  width: 92%;
  margin: 0 auto;
  padding: var(--48ws) var(--24ws);

  background-color: #fff;
  box-shadow: 0 0 var(--24ws) 2px var(--color-cbs);
  border-radius: var(--16ws);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: center;
  gap: var(--32ws);

  transform: translateY(-60%);
}

.box-heading {
  font-size: var(--16px);
}

.box-btn {
  background-color: var(--color-pp);
  padding: 1.4em;
  width: calc(240rem / 16);
  border-radius: var(--52px);
}

.footer {
  padding: var(--128ws) var(--24ws);
  background-color: var(--color-nvdc);
  color: #fff;

  display: flex;
  flex-direction: column;
  gap: var(--24ws);
}

.footer-logo-wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.footer-logo-icon {
  filter: brightness(0) invert(100%);
  width: calc(198rem / 16);
}

.footer-address {
  display: flex;
  flex-direction: column;
  gap: var(--32ws);
  margin-bottom: var(--48ws);
}

.address {
  display: grid;
  grid-template-columns: calc(43rem / 16) 1fr;

  font-style: normal;
}

.address-description {
  line-height: 1.5;
}

.links {
  list-style: none;

  display: flex;
  flex-direction: column;
  gap: var(--24ws);
  margin-bottom: var(--48ws);
}

.link-item a:link,
.link-item a:visited {
  text-decoration: none;
  color: #fff;
}

.link-item a:hover,
.link-item a:active {
  text-decoration: underline;
}

.info {
  display: flex;
  flex-direction: column;
  gap: var(--24ws);
}

.social-links {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--16ws);
}

.social-logo {
  filter: brightness(0) invert(100%);
  padding: var(--8ws);
  border-radius: 50%;
  border: 1px solid #fff;
}

.social-logo:hover {
  /* FILTER GENERATE COLOR -> https://codepen.io/sosuke/pen/Pjoqqp */
  filter: var(--color-filter-cpp);
}

.copy {
  font-size: var(--14px);
  text-align: center;
}

/* QUERIES */

@media (min-width: calc(600em / 16)) {
  .container {
    min-width: calc(500rem / 16);
  }
}
@media (min-width: calc(700em / 16)) {
  .container {
    min-width: calc(600rem / 16);
  }
}
@media (min-width: calc(900em / 16)) {
  .container {
    min-width: 100%;
    background-image: url(images/bg-hero-desktop.svg);
  }

  .btn {
    padding: var(--16ws) var(--12ws);
  }

  .header {
    height: var(--128ws);
  }

  .logo {
    width: calc(160rem / 16);
  }

  .header-btn:link {
    font-size: var(--16px);
    padding: var(--16ws) var(--64ws);
  }

  .hero-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
    padding: var(--48ws) calc(20rem / 16);
  }

  .hero-img {
    grid-row: 1 / span 3;
    grid-column: 2;
    width: 100%;
  }

  .hero-heading {
    font-size: var(--36px);
    text-align: start;
  }

  .hero-text {
    text-align: start;
  }

  .hero-btn {
    margin: 0;
  }

  .card {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .card-img {
    grid-column: 2;
    grid-row: 1 / span 2;
  }

  .img-reverse {
    grid-column: 1;
    grid-row: 1 / span 2;
  }

  .card-heading {
    align-self: end;
    padding: 0 var(--32ws);
    font-size: var(--24px);
  }
  .card-heading,
  .card-text {
    text-align: start;
  }
  .card-text {
    font-size: var(--16px);
  }

  .box {
    max-width: calc(580rem / 16);
  }

  .box-heading {
    font-size: var(--24px);
  }

  .footer {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    column-gap: 2rem;
    background-image: none;
  }

  .footer-address {
    grid-column: 1;
    max-width: calc(500rem / 16);
  }

  .links {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0;
  }

  .info {
    justify-content: space-between;
  }

  .social-links {
    justify-content: flex-start;
  }

  .attribution {
    grid-column: 3;
  }
}

@media (min-width: calc(1200em / 16)) {
  body {
    background-color: #000;
  }

  .container {
    min-width: calc(1440rem / 16);
  }

  .header,
  .hero-section {
    padding: var(--16ws) var(--48ws);
  }

  .hero-section {
    grid-template-columns: 1fr 1.5fr;
    column-gap: calc(70rem / 16);
    row-gap: 0;
    padding: var(--48ws) var(--48ws);
  }

  .hero-heading {
    font-size: var(--44px);
    align-self: end;
  }

  .hero-btn {
    align-self: start;
    padding: var(--24ws);
    border-radius: var(--52px);
    width: calc(300rem / 16);
  }

  .cards {
    padding-top: var(--128ws);
  }

  .card {
    grid-template-columns: 1fr 1fr;
    /* column-gap: var(--80ws); */
  }
  .card-heading {
    font-size: calc(30rem / 16);
  }

  .card-heading,
  .card-text {
    padding: 0 var(--96ws);
    padding-right: calc(42rem / 16);
  }
  .card-text {
    font-size: var(--18px);
  }

  .box {
    max-width: calc(700rem / 16);
    min-height: calc(250rem / 16);
  }

  .footer {
    padding: var(--128ws) var(--48ws);
  }
}
